Source: ibus-deepspeech
Section: utils
Priority: optional
Maintainer: Michael Sheldon <elleo@gnu.org>
Build-Depends: build-essential,
               libglib2.0-dev,
               libibus-1.0-dev,
               debhelper (>= 9),
Standards-Version: 3.9.5
Homepage: https://github.com/Elleo/ibus-deepspeech

Package: ibus-deepspeech
Architecture: amd64
Depends: deepspeech-model,
         gstreamer1.0-deepspeech,
         python,
         libibus-1.0-5,
         ibus,
         gir1.2-ibus-1.0,
         python-gi,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Speech recognition input method
 Allows for continuous dictation into any application.
